/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html,
body {
  padding: 0;
  margin: 0;
  background: #fff;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body a {
  outline: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body a:focus,
a:hover {
  text-decoration: none;
}
input[type="button"],
input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
}
select,
input[type="email"],
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
  font-family: "Raleway", sans-serif;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  letter-spacing: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
p {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  display: inline-block;
}
/*-- //Reset-Code --*/
.title {
  font-size: 40px;
  color: #000;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
}
.clr {
  color: #fff;
}
.w3pvt-left-side-img p,
.rooms-w3pvt-left p,
.slider-room-info p,
.contact-about p,
.stat-info p,
.abut-inner-wls-head p,
.service-icon-list p {
  font-size: 14px;
  color: #000;
  line-height: 28px;
}
.sub-para p,
.bottom-para p,
.bottom-para p a {
  font-size: 13px;
  color: #525252;
  line-height: 29px;
}
/*-- header --*/
/*-- inner-banner --*/
ul.short_ls li a {
  color: #ffffff;
  text-decoration: none;
}
ul.short_ls li {
  list-style: none;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 14px;
  color: #d6cece;
}
.using-border {
  width: 100%;
  border: none;
  background: #0a63bd;
  text-align: center;
}
/*-- //inner-banner --*/
.header-w3layouts {
  position: absolute;
  width: 100%;
  padding: 1em;
}
.slider-img {
  background-size: cover;
  min-height: 800px;
  background: url(../images/carnaval.jpg) no-repeat center;
}
.slider-info {
  padding: 22em 0 0;
}
.slider-info h5 {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 19px;
  text-shadow: 1px 1px 7px #151212;
}
.slider-info p {
  color: #fff;
  font-size: 16px;
  text-shadow: 2px 2px 8px #000;
}
.outs_more-buttn a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: 2px;
  background-color: #0a63bd;
  outline: none;
  padding: 9px 20px;
  border: 1px solid #d4d4d4;
  margin-top: 17px;
  box-shadow: 1px 2px 5px #4e4e4e;
}
.outs_more-buttn a:hover,
.outs_more-book a:hover,
.sent-butnn:hover {
  opacity: 0.8;
  color: #fff;
}
/*-- header --*/
.headder-top {
  position: absolute;
  width: 100%;
  z-index: 99;
  padding: 1.5em 0em;
}
/*-- nav --*/
/* navigation */
/* CSS Document */
.toggle-2,
.toggle,
[id^="drop"] {
  display: none;
}
/* Giving a background-color to the nav container. */
nav {
  margin: 0;
  padding: 0;
}
#logo h1 a {
  float: left;
  display: initial;
  font-size: 32px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
}
#logo a span {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  color: #000;
  padding-top: 8px;
  text-align: center;
}
/* Since we'll have the "ul li" "float:left"
* we need to add a clear after the container. */
nav:after {
  content: "";
  display: table;
  clear: both;
}
/* Removing padding, margin and "list-style" from the "ul",
* and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
}
/* Styling the links */
nav ul li a {
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: transparent;
  text-transform: capitalize;
  padding: 7px 18px;
  border: none;
  border-bottom: 1px solid rgba(212, 212, 212, 0);
  display: inline-block;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
nav ul li ul li:hover {
  background: #f8f9fa;
}
.menu li .drop-text:hover {
  color: #000;
  border: none;
}
/* Background color change on Hover */
/*.menu li.active a,.menu li a:hover{border-bottom: 1px solid #d4d4d4;}*/
.menu li a:hover {
  opacity: 0.8;
  color: #fff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
/* Hide Dropdowns by Default
* and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  top: 33px;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: -1px 1px 5px black;
}
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}
/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}
nav ul ul li a {
  color: #000;
  padding: 5px 10px;
  display: block;
  background: transparent;
  font-weight: 700;
}
/* Second, Third and more Tiers	
* We move the 2nd and 3rd etc tier dropdowns to the left
* by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}
/* Change ' +' in order to change the Dropdown symbol */
li > a:only-child:after {
  content: "";
}
a.reqe-button {
  border: 2px solid rgba(255, 255, 255, 0.35);
  border-radius: 4px;
}
/* Media Queries
--------------------------------------------- */
@media (max-width: 800px) {
  nav a {
    font-size: 13px;
  }
}
@media all and (max-width: 767px) {
  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }
  nav {
    margin: 0;
  }
  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
  }
  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    padding: 6px 17px;
    font-size: 14px;
    text-decoration: none;
    border: none;
    float: right;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    cursor: pointer;
  }
  .menu .toggle {
    float: none;
    text-align: center;
    margin: auto;
    max-width: 138px;
    padding: 10px 18px;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }
  .menu .toggle:hover {
    color: #fff;
    opacity: 0.8;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }
  .toggle:hover {
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    background: #0a63bd;
  }
  label.toggle.toogle-2 {
    background: transparent;
    text-transform: capitalize;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
  }
  /* Display Dropdown when clicked on Parent Lable */
  [id^="drop"]:checked + ul {
    display: block;
    background: #0a63bd;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    z-index: 99;
  }
  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
    padding: 5px 0;
  }
  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }
  nav ul ul ul a {
    padding: 0 80px;
  }
  nav a:hover,
  nav ul ul ul a {
    background-color: transparent;
  }
  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #fff;
    font-size: 15px;
  }
  /* 
nav ul li ul li .toggle,
nav ul ul a {
background-color: #212121;
} */
  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
    /* has to be the same number as the "line-height" of "nav a" */
  }
  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }
  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
    padding: 0;
  }
  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }
  nav a {
    color: #000;
    font-size: 15px;
  }
  .menu li.active a,
  .menu li a:hover {
    background: transparent;
  }
}
@media all and (max-width: 568px) {
  nav a,
  .menu .toggle,
  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    font-size: 14px;
  }
}
@media all and (max-width: 320px) {
  nav a,
  .menu .toggle,
  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    font-size: 13px;
  }
}
/*-- dropdown --*/
/*--//nav --*/
/*-- about-- */
.rooms-w3pvt-left:nth-child(1),
.rooms-w3pvt-left:nth-child(2),
.rooms-w3pvt-left:nth-child(3) {
  margin-bottom: 35px;
}
.abt-sub-w3pvt-txt {
  margin: 16px 0px 26px;
}
.jst-wthree-text h5 {
  font-size: 19px;
  color: #000;
}
.customer-rev ul li span {
  color: #0a63bd;
  font-size: 0.8em;
}
.customer-rev ul li a h6 {
  color: #000;
  font-weight: normal;
  display: inline-block;
  font-size: 14px;
  margin-left: 8px;
}
.list-off-slider h5 {
  font-size: 21px;
  color: #000000;
  margin: 18px 0px;
}
.slider-room-info h6 {
  font-size: 20px;
  color: #0a63bd;
}
.rooms-w3pvt-left ul li {
  display: inline-block;
  padding-right: 42px;
}
.rooms-w3pvt-left ul li h4 {
  font-size: 17px;
  color: #000;
}
.rooms-w3pvt-left ul li span {
  font-size: 15px;
  color: #969696;
  font-weight: 700;
}
.rooms-w3pvt-left ul li h6 {
  font-size: 14px;
  color: #0a63bd;
  font-weight: 700;
}
.outs_more-book a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: 2px;
  background-color: #0a63bd;
  outline: none;
  font-weight: 500;
  padding: 9px 17px;
  border: 1px solid #d4d4d4;
  margin-top: 17px;
}
.list-text-grid ul li h4 {
  font-size: 19px;
  padding: 0px 14px 0px 0px;
  color: #0c6bc5;
}
/*-- about-inner-- */
.stats {
  text-align: center;
  background: url(../images/comparsa.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 300px;
}
.abut-inner-wls-head {
  border: 4px double #000;
  padding: 1em 1em;
}
.abut-inner-wls-head h4 {
  font-size: 25px;
  color: #0a63bd;
}
.team {
  background: url(../images/bb2.jpg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}
/*--//about-inner-- */
/*--// about-- */
/*-- service-inner-- */
.service-icon-list span {
  font-size: 35px;
  margin: 15px 0px;
  color: #0a63bd;
}
/*--//service-inner-- */
/* --counter -- */
.service-two {
  background: #ececec;
}
.counter {
  font-size: 25px;
  color: #0a63bd;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  line-height: 26px;
}
.stat-info h4,
.ser-list-w3layouts h4,
.w3ls-bottom h4 {
  font-size: 20px;
  color: #000000;
  letter-spacing: 1px;
}
.register-left-w3pvt {
  background: rgba(255, 255, 255, 0.6);
  padding: 3em 3em;
  box-shadow: 0px 0px 9px 0px black;
}
/*-- //counter --*/
/*--book-table-w3pvt --*/
.inner_page-banner {
  text-align: center;
  background: url(../images/b1.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 300px;
}
.book-table-w3pvt,
.service-two {
  background: url(../images/iconos.png) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}
.wls-hours-list ul li {
  display: inline-block;
}
.wls-hours-list ul li h5 {
  font-size: 20px;
  color: #000;
  margin-right: 47px;
  letter-spacing: 2px;
}
.booking-list {
  padding: 3em 2em;
  background: rgba(255, 255, 255, 0.7);
  width: 48%;
  margin: 0px auto;
}
/*-- //book-table-w3pvt --*/
/*--team --*/
.clt-syas-w3pvt h5 {
  font-size: 20px;
  color: #000;
}
.icon-w3layouts-social ul li {
  display: inline-block;
}
.icon-w3layouts-social ul li .social-bg,
.icons ul li .footer-bg {
  width: 35px;
  height: 35px;
  text-align: center;
  background: #0a63bd;
  margin: 10px 1px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
}
.icon-w3layouts-social ul li a span {
  font-size: 13px;
  line-height: 35px;
  color: #fff;
}
.icon-w3layouts-social ul li a span:hover {
  color: #000;
}
.item-team-wls {
  position: relative;
}
.clt-syas-w3pvt {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: absolute;
  left: 115px;
  bottom: 59px;
  width: 45%;
}
/*--//team --*/
.w3ls-bottom {
  background: rgba(214, 214, 214, 0.7);
  padding: 2em 1.5em;
  box-shadow: 0 0 8px 0 rgba(161, 161, 161, 0.5);
  text-align: center;
}
.w3ls-bottom ul li {
  font-size: 15px;
  color: #292828;
  display: block;
  padding-top: 15px;
}
/*-- //team --*/
/*--gallery-- */
.gallery,
.booking {
  background: #f1f1f1;
}
/* popup */
.popup-effect {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}
.popup-effect:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  background: #fff;
  border-radius: 4px;
  max-width: 430px;
  position: relative;
  margin: 8em auto;
  padding: 3em 2em;
  z-index: 999;
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.popup .close:hover {
  color: #686de0;
}
/* //popup */
/*--// gallery-- */
/*-- contact-- */
.address_mail_footer_grids iframe {
  width: 100%;
  height: 29em;
  border: none;
}
.contact-forms input,
.contact-forms textarea,
.contact-forms select {
  width: 100%;
  font-size: 14px;
  color: #000;
  padding: 0.8em 0.7em;
  background: rgba(204, 204, 204, 0.4);
  outline: none;
  border: none;
  /* border: 1px solid #000; */
  border-radius: 0px;
  outline: none !important;
}
.contact-forms ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #969595;
}
.contact-forms ::-moz-placeholder {
  /* Firefox 19+ */
  color: #969595;
}
.contact-forms:-ms-input-placeholder {
  /* IE 10+ */
  color: #969595;
}
.contact-forms :-moz-placeholder {
  /* Firefox 18- */
  color: #969595;
}
.contact-forms select {
  color: #969595;
}
.contact-forms textarea {
  resize: none;
  height: 8em;
}
.sent-butnn {
  font-size: 17px;
  padding: 11px 0px;
  color: #fff;
  margin-top: 1em;
  background: #0a63bd;
}
.footer_grid_left p a {
  color: #000;
}
.footer_grid_left ul li span {
  font-size: 21px;
  color: #0a63bd;
}
.footer_grid_left ul li {
  display: block;
}
.footer_grid_left ul li p {
  font-size: 14px;
  color: #000;
  padding-left: 15px;
  line-height: 40px;
  display: inline-block;
}
.contact-list-grid h4 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #000;
  font-weight: 600;
}
/*--//contact-- */
/*--footer--*/
.sub-para {
  padding: 0em 12em 2.5em;
}
.state-us h2 {
  font-size: 36px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
}
.icons ul li {
  display: inline-block;
}
.icons ul li a {
  color: #fff;
}
.icons ul li a span {
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
}
.icons ul li .footer-bg:hover {
  background: #777;
}
.bottom-para p a:hover {
  color: #56a076;
}
.wthree-left-right h4 {
  font-size: 20px;
  color: #0a63bd;
  font-weight: 400;
  padding-bottom: 21px;
  letter-spacing: 2px;
}
footer {
  background: #000;
}
footer p {
  padding: 0.8em 0;
  text-align: center;
  font-size: 14px;
  color: #fff;
  letter-spacing: 2.5px;
}
footer p a {
  color: #0a63bd;
}
footer p a:hover {
  color: #fff;
}
a.move-top {
  width: 40px;
  height: 40px;
  background: url(../images/arrow.png) no-repeat 0px 0px;
  display: inline-block;
}
/*-- //footer --*/
/*--Subscribe-- */
.fill-all-form input[type="email"] {
  width: 50%;
  background: #f5f5f5;
  border: 1px solid #cecbcb;
  padding: 0.8em 0.7em;
  border-radius: 0px;
  outline: none;
  font-size: 15px;
  display: inline-block;
}
.click-me {
  width: 25%;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: 2px;
  background-color: #0a63bd;
  outline: none;
  padding: 12px 13px;
  border: 1px solid #d4d4d4;
  border-radius: 0px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
  cursor: pointer;
}
.click-me:hover {
  opacity: 0.8;
}
/*-- //Subscribe-- */
/*--responsive--*/
@media (max-width: 1920px) {
}
@media (max-width: 1680px) {
}
@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
  .slider-img {
    min-height: 680px;
  }
  .slider-info h5 {
    font-size: 48px;
  }
  .slider-info p {
    font-size: 15px;
  }
  .slider-info {
    padding: 18em 0 0;
  }
  .rooms-w3pvt-left:nth-child(1),
  .rooms-w3pvt-left:nth-child(2),
  .rooms-w3pvt-left:nth-child(3) {
    margin-bottom: 30px;
  }
  .title {
    font-size: 38px;
  }
  .register-left-w3pvt {
    padding: 2.5em 2.5em;
  }
  .state-us h2 {
    font-size: 32px;
  }
  .wthree-left-right h4 {
    padding-bottom: 17px;
  }
  .inner_page-banner {
    min-height: 280px;
  }
  .contact-list-grid h4 {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .sent-butnn {
    font-size: 17px;
    padding: 9px 0px;
  }
  .sub-head h4 {
    font-size: 27px;
  }
}
@media (max-width: 1366px) {
  .outs_more-buttn a {
    padding: 7px 16px;
    margin-top: 14px;
  }
  .outs_more-book a {
    padding: 7px 16px;
    margin-top: 14px;
  }
  .rooms-w3pvt-left ul li {
    padding-right: 38px;
  }
  .stat-info h4,
  .ser-list-w3layouts h4,
  .w3ls-bottom h4 {
    font-size: 19px;
  }
  .clt-syas-w3pvt {
    left: 112px;
    bottom: 50px;
    width: 50%;
  }
  .wls-hours-list ul li h5 {
    margin-right: 45px;
  }
  .wls-hours-list ul li p {
    font-size: 17px;
  }
  .fill-all-form input[type="email"] {
    padding: 0.7em 0.6em;
  }
}
@media (max-width: 1280px) {
  .counter {
    font-size: 22px;
    line-height: 21px;
  }
  .icon-w3layouts-social ul li .social-bg {
    width: 33px;
    height: 33px;
  }
  .icon-w3layouts-social ul li a span {
    line-height: 33px;
  }
  #logo h1 a {
    font-size: 30px;
  }
  .sub-para {
    padding: 0em 10em 2em;
  }
  footer p {
    padding: 0.7em 0;
  }
  .inner_page-banner {
    min-height: 250px;
  }
  .address_mail_footer_grids iframe {
    height: 25em;
  }
  .sub-head h4 {
    font-size: 24px;
  }
  .list-text-grid ul li h4 {
    font-size: 17px;
  }
}
@media (max-width: 1080px) {
  .slider-img {
    min-height: 600px;
  }
  .slider-info h5 {
    font-size: 46px;
  }
  .slider-info {
    padding: 15em 0 0;
  }
  .register-left-w3pvt {
    padding: 2em 2em;
  }
  .title {
    font-size: 36px;
  }
  .state-us h2 {
    font-size: 30px;
  }
  .clt-syas-w3pvt {
    width: 58%;
  }
}
@media (max-width: 1050px) {
  .jst-wthree-text h5 {
    font-size: 18px;
  }
  .abt-sub-w3pvt-txt {
    margin: 16px 0px 21px;
  }
  .list-off-slider h5 {
    font-size: 25px;
  }
  .outs_more-book a {
    margin-top: 11px;
  }
  .service-icon-list span {
    margin: 11px 0px;
  }
  .address_mail_footer_grids iframe {
    height: 22em;
  }
}
@media (max-width: 1024px) {
  .wls-hours-list ul li h5 {
    font-size: 19px;
  }
  .fill-all-form input[type="email"] {
    width: 55%;
  }
  .click-me {
    width: 28%;
  }
  .contact-list-grid h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .footer_grid_left ul li p {
    padding-left: 12px;
    line-height: 38px;
  }
}
@media (max-width: 991px) {
  .slider-img {
    min-height: 580px;
  }
  .slider-info h5 {
    font-size: 44px;
  }
  .slider-info {
    padding: 14em 0 0;
  }
  .customer-rev ul li i {
    font-size: 0.7em;
  }
  .booking-list {
    padding: 2.5em 1.5em;
    width: 63%;
  }
  .sub-para {
    padding: 0em 5em 2em;
  }
  .icons ul li .footer-bg {
    width: 33px;
    height: 33px;
  }
  .icons ul li a span {
    font-size: 14px;
    line-height: 33px;
  }
  footer p {
    letter-spacing: 1.5px;
  }
  .w3layouts-right-side-img {
    margin-top: 28px;
  }
  .ser-list-w3layouts:nth-child(3),
  .ser-list-w3layouts:nth-child(4) {
    margin-top: 20px;
  }
  .contact-forms textarea {
    height: 7em;
  }
  .contact-forms input,
  .contact-forms textarea {
    font-size: 14px;
  }
  .address_mail_footer_grids iframe {
    height: 22em;
  }
  .btn {
    font-size: 13px;
  }
  #logo h1 a {
    font-size: 28px;
  }
}
@media (max-width: 900px) {
  .title {
    font-size: 42px;
  }
  .register-left-w3pvt {
    padding: 1.5em 1.5em;
  }
  .stat-info h4,
  .ser-list-w3layouts h4,
  .w3ls-bottom h4 {
    font-size: 26px;
  }
  .counter {
    font-size: 32px;
  }
  .counter {
    font-size: 32px;
    bottom: 57px;
  }
  .fill-all-form input[type="email"] {
    width: 62%;
    padding: 0.6em 0.6em;
  }
  .click-me {
    font-size: 14px;
    padding: 10px 11px;
  }
  .inner_page-banner {
    min-height: 210px;
  }
  .service-icon-list span {
    font-size: 33px;
    margin: 9px 0px;
  }
  .footer_grid_left ul li span {
    font-size: 19px;
  }
}
@media (max-width: 800px) {
  .slider-info h5 {
    font-size: 42px;
  }
  .jst-wthree-text h5 {
    font-size: 17px;
  }
  .abt-sub-w3pvt-txt {
    margin: 13px 0px 16px;
  }
  .wls-hours-list ul li h5 {
    font-size: 21px;
  }
  .wls-hours-list ul li p {
    letter-spacing: 1px;
  }
  .stats-grid-2 {
    margin: 25px 0px;
  }
  .abut-inner-wls-head {
    padding: 0.8em 0.8em;
  }
  .w3ls-bottom ul li {
    font-size: 14px;
    padding-top: 12px;
  }
  .address_mail_footer_grids iframe {
    height: 20em;
  }
}
@media (max-width: 768px) {
  .slider-img {
    min-height: 545px;
  }
  .slider-info h5 {
    font-size: 39px;
  }
  .counter {
    font-size: 30px;
  }
  .state-us h2 {
    font-size: 28px;
  }
  .slider-info {
    padding: 13em 0 0;
  }
}
@media (max-width: 767px) {
  .outs_more-book a {
    font-size: 14px;
  }
  .rooms-w3pvt-left:nth-child(1),
  .rooms-w3pvt-left:nth-child(2),
  .rooms-w3pvt-left:nth-child(3) {
    margin-bottom: 24px;
  }
  .below-team {
    margin-top: 21px;
  }
  .clt-syas-w3pvt {
    left: 112px;
    bottom: 54px;
  }
  .booking-list {
    width: 73%;
  }
  .wls-hours-list ul li h5 {
    margin-right: 34px;
  }
  .sub-para {
    padding: 0em 2em 1.5em;
  }
  .wthree-left-right h4 {
    padding-bottom: 11px;
    font-size: 23px;
  }
  .wthree-left-right:nth-child(2) {
    margin: 25px 0px;
  }
  .fill-all-form input[type="email"] {
    width: 68%;
  }
  .click-me {
    width: 31%;
  }
  .abut-inner-wls-head h4 {
    font-size: 22px;
  }
  .contact-list-grid {
    margin-top: 21px;
  }
  .address_mail_footer_grids iframe {
    height: 17em;
  }
}
@media (max-width: 736px) {
  .rooms-w3pvt-left ul li h6 {
    font-size: 16px;
  }
  .list-off-slider h5 {
    font-size: 24px;
  }
  .stat-info h4,
  .ser-list-w3layouts h4,
  .w3ls-bottom h4 {
    font-size: 25px;
  }
  .title {
    font-size: 36px;
    letter-spacing: 2px;
  }
  .clt-syas-w3pvt h5 {
    font-size: 21px;
  }
  .grid-two,
  .grid-three {
    margin-top: 15px;
  }
  .sent-butnn {
    padding: 7px 0px;
  }
}
@media (max-width: 667px) {
  .sub-para p,
  .bottom-para p,
  .bottom-para p a {
    line-height: 23px;
  }
  footer p {
    letter-spacing: 1px;
  }
  .clt-syas-w3pvt {
    width: 66%;
    bottom: 57px;
  }
  .wls-hours-list ul li h5 {
    font-size: 19px;
    letter-spacing: 1px;
  }
  .booking-list {
    padding: 2em 1.5em;
  }
  .service-icon-list span {
    font-size: 30px;
  }
  .contact-list-grid h4 {
    font-size: 22px;
  }
  .slider-info p {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .slider-img {
    min-height: 471px;
  }
  .slider-info {
    padding: 11em 0 0;
  }
  .outs_more-buttn a {
    font-size: 14px;
  }
  .customer-rev ul li i {
    font-size: 0.6em;
  }
  .clt-syas-w3pvt h5 {
    font-size: 20px;
  }
  .outs_more-book a {
    margin-top: 8px;
  }
  .address_mail_footer_grids iframe {
    height: 15em;
  }
  .sent-butnn {
    font-size: 16px;
  }
  .contact-forms input,
  .contact-forms textarea {
    padding: 0.7em 0.7em;
  }
}
@media (max-width: 600px) {
  .rooms-w3pvt-left:nth-child(1),
  .rooms-w3pvt-left:nth-child(2),
  .rooms-w3pvt-left:nth-child(3) {
    margin-bottom: 18px;
  }
  .counter {
    font-size: 28px;
  }
  .stat-info h4,
  .ser-list-w3layouts h4,
  .w3ls-bottom h4 {
    font-size: 23px;
  }
  .title {
    font-size: 33px;
    letter-spacing: 1px;
  }
  .booking-list {
    width: 79%;
  }
  .state-us h2 {
    font-size: 26px;
  }
  .inner_page-banner {
    min-height: 195px;
  }
}
@media (max-width: 568px) {
  .state-us h2 {
    font-size: 26px;
  }
  .food-items-slider {
    text-align: center;
  }
  .food-items-slider:nth-child(2) {
    margin: 21px 0px;
  }
  .clt-syas-w3pvt {
    width: 25%;
    bottom: 59px;
  }
  .team-w3pvt-icon:nth-child(1) {
    margin-bottom: 15px;
  }
  .customer-rev {
    margin-top: 10px;
  }
  .ser-list-w3layouts:nth-child(2) {
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .slider-img {
    min-height: 436px;
  }
  .slider-info h5 {
    font-size: 30px;
  }
  .slider-info {
    padding: 10em 0 0;
  }
  .slider-info {
    padding: 10em 0 0;
  }
  .icons ul li .footer-bg {
    width: 30px;
    height: 30px;
  }
  .icons ul li a span {
    line-height: 28px;
  }
  .clt-syas-w3pvt {
    width: 30%;
    bottom: 63px;
  }
  .footer_grid_left ul li span {
    font-size: 17px;
  }
  .table h3 {
    font-size: 19px;
  }
  .fill-all-form input[type="email"] {
    width: 100%;
  }
  .click-me {
    margin-top: 20px;
  }
}
@media (max-width: 440px) {
  .outs_more-book a {
    padding: 7px 13px;
  }
  .abt-sub-w3pvt-txt {
    margin: 13px 0px 12px;
  }
  .list-off-slider h5 {
    margin: 14px 0px;
    font-size: 22px;
  }
  .register-left-w3pvt {
    padding: 1em 1em;
  }
  .abut-inner-wls-head h4 {
    font-size: 21px;
  }
  #logo h1 a {
    font-size: 26px;
  }
}
@media (max-width: 414px) {
  .title {
    font-size: 31px;
  }
  .clt-syas-w3pvt {
    width: 35%;
  }
  .slider-info h5 {
    margin-bottom: 15px;
  }
  .booking-list {
    padding: 1.5em 1em;
  }
  .wls-hours-list ul li h5 {
    font-size: 18px;
  }
  .wls-hours-list ul li p {
    font-size: 15px;
  }
  .state-us h2 {
    font-size: 24px;
  }
  footer p {
    line-height: 26px;
  }
  .service-icon-list span {
    font-size: 26px;
  }
  .contact-forms textarea {
    height: 6em;
  }
  .address_mail_footer_grids iframe {
    height: 13em;
  }
}
@media (max-width: 384px) {
  .wthree-left-right:nth-child(2) {
    margin: 19px 0px;
  }
  .slider-img {
    min-height: 419px;
  }
  .slider-info {
    padding: 9em 0 0;
  }
  .slider-info h5 {
    font-size: 27px;
  }
}
@media (max-width: 375px) {
  .rooms-w3pvt-left ul li {
    padding-right: 34px;
  }
  .counter {
    font-size: 26px;
  }
  .clt-syas-w3pvt {
    width: 39%;
  }
  .wthree-left-right h4 {
    letter-spacing: 1px;
  }
  .w3ls-bottom ul li {
    padding-top: 9px;
  }
}
@media (max-width: 320px) {
  .slider-info h5 {
    font-size: 22px;
  }
  .list-text-grid ul li h4 {
    font-size: 15px;
    padding: 0px 9px 0px 0px;
    letter-spacing: 0px;
  }
  .clt-syas-w3pvt {
    width: 46%;
  }
  .wls-hours-list ul li h5 {
    margin-right: 17px;
    font-size: 17px;
  }
  .wls-hours-list ul li p {
    font-size: 14px;
  }
  .footer_grid_left ul li p {
    line-height: 34px;
  }
}
/*--//responsive--*/
